* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Lato", sans-serif; 
}

body {
  background-color: #072510;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}